boto3==1.14.20
botocore==1.17.20
certifi==2020.6.20
chardet==3.0.4
Django==2.1.9
django-cleanup==5.0.0
django-storages==1.9.1
docutils==0.15.2
idna==2.10
jmespath==0.10.0
mysqlclient==1.4.6
numpy==1.19.0
pandas==1.0.5
paytm-pg==1.0.8
pycryptodome==3.9.8
python-dateutil==2.6.1
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.5
