<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="text-align:center;">

        <div style="background-color:black;padding:20px;">
            <img src="https://stransmit.com/static/Stransmit.png" style="width:200px;">
        </div>
        <div style="padding:20px;">
            <p style="line-height:30px;text-align:left;">Hi There!<br>We got a new request to change your password please click the below button </p><br>
                <a style="background-color:#03a9fc;color:white;padding:20px;border-radius:10px;text-decoration: none; "href="">Change Password</a><br>
                <p style="line-height:30px;text-align:left;">Thanks for being with us!<br>Team Stransmit</p>
            
        </div>

</body>
    
</html>