<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stransmit - Download Youtube Videos for FREE | Get Audio from Youtube Video for Free | Download Any Video in a Single Step</title>
    <meta name="description" content="Here at Stransmit, we provide you a place to download high quality youtube videos for Free. Just copy video url, select format, select quality and click Download Button. Download any Youtube Video for Free.">
    <meta name="keywords" content="download youtube videos, how to download youtube videos, youtube video downloader, youtube download, download youtube video for free, send files, send files online, send files above 2gb, send files by we transfer, send files bigger than 2gb, send files by google drive, send files cloud, send free files, send free files upto 5gb, send to files to anyone, send files, stransmit.com, www.stransmit.com, stransmit, shreshtha research & development, srd.mobi, srd, send media mails, send bulk mails, bulk mails, send mails, send free mails, send free media mails, send mails upto 10 GB">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stransmit">
    <meta property="og:description" content="Stransmit is an indian solution to send your files around the world. Send files upto 5 GB for free and upto 50 GB in our paid versions. Stransmit made in India made for world.">
    <meta property="og:title" content="Stransmit - Send files upto 5GB for Free | Send Upto 50GB in Paid Versions | Send Bulk Media Mails with Files upto 50GB in One Click">
    <meta property="og:image" content="{% static 'Stransmit.png' %}">
    <meta property="og:type" content="website" />

     <link rel="shortcut icon" type="image/x-icon" href="{% static 'Stransmitfavicon.png' %}"> 
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <style type="text/css">
        [type="file"] {
          height: 0;
          overflow: hidden;
          width: 0;
        }
    </style>    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
    <!-- Global site tag (gtag.js) - Google Ads: 597637001 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-597637001"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-597637001');
    </script>

    <!-- Event snippet for Sign-up 3 conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          document.getElementById('sendmailform').submit();
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-597637001/Y-FICIu999wBEInv_JwC',
          'event_callback': callback
      });
      return false;
    }
    </script>
    <script data-ad-client="ca-pub-4752143661380670" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSPR59Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="/index/">
                                    <img style="width:200px;"src="{% static 'Stransmit.png' %}" alt="stransmit">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/index/">home</a></li>
                                        {% if checksession == True %}
                                        <li><a href="/userdashboard/">Dashboard</a></li>
                                        <li><a href="/logout/">Logout</a></li>
                                        <li><a href="/pricing/">Pricing</a></li>
                                        {% else %}
                                        <li><a href="#" onclick="document.getElementById('id02').style.display='block';">Login</a></li>
                                        <li><a href="#" onclick="document.getElementById('id01').style.display='block';">Signup</a></li>
                                        <li><a href="/pricing/">Pricing</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <span style="color:white;">Made In India</span>
                                <img style="margin-left:10px;width:50px;"src="{% static 'images.png' %}" alt="stransmit">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
<div id="id01" class="w3-modal" style="z-index:100;padding:0px;">
  <div style="width:100%;height:auto;margin-top:55px;border-top-right-radius:30px;border-top-left-radius:30px;padding:50px;"class="w3-modal-content text-center w3-animate-bottom">

    <button onclick="document.getElementById('id01').style.display='none'"
      style="cursor:pointer;margin:30px;border-radius:50px;" class="w3-button w3-blue w3-hover-black w3-display-topright ">&times;</button>


    <div style="padding:10px;"class="w3-container">
      <div class="row">
        <div style="padding:20px;width:100%;"class="column">
            <h1>Signup Here</h1>
            <form action="/saveuser/" method="POST">
                <input style="margin-top:16px;" class="w3-input" type="text" placeholder="Username*" name="name" required>
                <input style="margin-top:16px;"class="w3-input" type="email" placeholder="Email*" name="email" required>
                <input style="margin-top:16px;"class="w3-input" type="number" placeholder="Mobile No.*" name="mobile" required>
                <input style="margin-top:16px;"class="w3-input" type="password" placeholder="Password*" name="password" required>
                <input style="margin-top:16px;"class="w3-input" type="password" placeholder="Confirm Password*" required>
                <input style="border-radius:10px;margin-top:16px;width:100%;"class="w3-button w3-blue w3-hover-black w3-large" type="submit" value="Signup">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="id02" class="w3-modal" style="z-index:100;padding:0px;">
  <div style="width:100%;height:auto;margin-top:55px;border-top-right-radius:30px;border-top-left-radius:30px;padding:50px;"class="w3-modal-content text-center w3-animate-bottom">

    <button onclick="document.getElementById('id02').style.display='none'"
      style="cursor:pointer;margin:30px;border-radius:50px;" class="w3-button w3-blue w3-hover-black w3-display-topright ">&times;</button>


    <div style="padding:10px;"class="w3-container">
      <div class="row">
        <div style="padding:20px;width:100%;"class="column">
            <h1>Login Here</h1>
            <form action="/checklogin/" method="POST">
                <input style="margin-top:66px;"class="w3-input" type="email" placeholder="Email *" name="email" required>
                <input style="margin-top:66px;margin-bottom:33px;"class="w3-input" type="password" placeholder="Password *" name="password" required>
                <a href="/forgotpass/" style="">Forgot Password</a>
                <input style="border-radius:10px;margin-top:33px;width:100%;"class="w3-button w3-blue w3-hover-black w3-large" type="submit" value="Login">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="slider_area">
        <div style="background-image:url({% static 'img/red_bg.png' %})"class="single_slider align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-md-6" style="margin-bottom:50px;margin-top:10px;">
                        <div class="phone_thumb wow fadeInDown" data-wow-duration="1.1s" data-wow-delay=".2s">
                            <div style="width:100%;height:100%;padding:30px;border-radius:20px;"class="w3-white">
                                <h1>Paste Video URL</h1>
                                <label>{{ msg|safe }}</label>
                                <form class="w3-container" action="/youtube/" method="POST" enctype="multipart/form-data" id="sendmailform">
                                    <input style="margin-top:10px;"class="w3-input" type="text" name="link_url" placeholder="URL Here" required>
                                    <select style="margin-top:20px;"class="w3-select" name="format">
                                        <option selected disabled>Select Format</option>
                                        <option value="video">Video</option>
                                        <option value="audio">Audio</option>
                                    </select>
                                    <select style="margin-top:20px;" onchange="document.getElementById('download').disabled = false;"class="w3-select" name="quality">
                                        <option selected disabled>Select Quality</option>
                                        <option value="high">High</option>
                                        <option value="low">Low</option>
                                    </select>
                                    
                                    
                                    <input style="margin-top:10px;width:100%;border-radius:10px;" id="download"class="w3-button w3-red w3-hover-black" type="submit" value="Download" disabled>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-6" style="margin-top:200px;">
                        <div class="slider_text ">
                            <h3 style="font-size:40px;"class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s" >Download Youtube <br> Video for FREE</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">Download any youtube video in a single step. Just copy the url paste here, choose quality and format. And ready to download! </p>
                            <div class="video_service_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                                <a class="w3-button w3-large w3-white w3-hover-black" href="/downloadyoutube/" style="border-radius:10px;"><i class="fa fa-youtube-play"></i> Download Youtube Video For Free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center  wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
                        <h3>Send Your File To<br>
                                Anyone In This World</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".4s">
                        <div class="thumb">
                                <img src="{% static 'img/icon/2.svg' %}" alt="">
                        </div>
                        <h3>Easy To Use <br>
                                To Share Your Data</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                        <div class="single_service text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".5s">
                                <div class="thumb">
                                        <img src="{% static 'img/icon/1.svg' %}" alt="">
                                </div>
                                <h3>Secure Plateform To<br> 
                                        Send Your Data Globally</h3>
                            </div>
                </div>
                <div class="col-lg-4 col-md-4">

                            <div class="single_service text-center wow fadeInUp " data-wow-duration=".8s" data-wow-delay=".6s">
                                <div class="thumb">
                                        <img src="{% static 'img/icon/3.svg' %}" alt="">
                                </div>
                                <h3>Most Efficient<br>
                                        To Use</h3>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features_area ">
        <div class="container">
            <div class="features_main_wrap">
                    <div class="row  align-items-center">
                            <div class="col-xl-5 col-lg-5 col-md-6">
                                <div class="features_info2">
                                    <h3>What is
                                        Stransmit?</h3>
                                    <p>Stransmit is the most secure plateform sending and sharing your data to anyone in this world you want to share with. You can send upto 5GB files for free. And you can send upto 100GB files with our Premium Stransmit Plane. </p>
                                    <div class="about_btn">
                                        <a class="boxed-btn4" href="#sendmailform">Send Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 offset-xl-1 offset-lg-1 col-md-6 ">
                                <div class="about_draw wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".5s">
                                    <img src="{% static 'img/ilstrator_img/draw.png' %}" alt="">
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </div>
    <div class="testmonial_area">
        <div class="container">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_testmonial text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
                        <div class="section_title">
                            <h3>More From Us?</h3>
                        </div>
                        <p>
                            Don't worry about your data security, your data is fully secured with us. We will automatically delete your data after 10 to 30 days depending upon your plan. You can also send bulk mails using Stransmit, you need take our premium plan membership and you are good to go. Take our premium membership and you can unlock many features like, mails history, bulk mails etc. Use the most trusted platform of India to share you data globally for Free. We are made in India and we are made for World.   
                        </p>
                        <div class="rating_author">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <!-- slider_area_end -->
    <!-- service_area  -->
    
    <!-- footer start -->
    <footer class="footer">
        <div style="padding-bottom:20px;background-color:black;"class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img style="width:150px;"src="{% static 'Stransmit.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                              Stransmit is an indian web application for online media transfer. Support indian product - An Initiative by Shreshtha Research & Development.
                            </p>
                            <div class="socail_links">
                                <span style="color:white;">Made In India</span>
                                <img style="margin-left:10px;width:60px;"src="{% static 'india-flag-1024x600.jpg' %}">
                            </div>

                        </div>
                    </div>
                    
                    
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Usefull Links
                            </h3>
                            <ul>
                                {% if checksession == True %}
                                <li>
                                    <a href="/userdashboard/">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="#" onclick="document.getElementById('id02').style.display='block';">
                                        Login
                                    </a>
                                </li>
                                <li><a href="#" onclick="document.getElementById('id01').style.display='block';">
                                        Register
                                    </a>
                                </li>
                                {% endif %}
                                <li><a href="/privacy/">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li><a href="/disclaimer/">
                                        Disclaimer
                                    </a>
                                </li>
                                <li><a href="/termcondition/">
                                        Terms & Condition
                                    </a>
                                </li>
                                <li><a href="/contact/">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        function GetPath() { 
            document.getElementById('myFile').innerHTML = document.getElementById("file").value;
        }
        function FileValidation() {
            const fi = document.getElementById('file'); 
            // Check if any file is selected. 
            if (fi.files.length > 0) { 
                for (const i = 0; i <= fi.files.length - 1; i++) { 
      
                    const fsize = fi.files.item(i).size; 
                    const file = Math.round((fsize / 1024)); 
                    // The size of the file. 
                    if (file >= (1024*5000)) { 
                        alert( 
                          "File too Big, please select a file less than 5GB"); 
                    } else { 
                        document.getElementById('send').disabled = false; 
                    } 
                } 
            }
        }
    </script>
</body>

</html>