<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stransmit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Stransmitfavicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
</head>

<body>

    <div style="padding:25px;height:536px;text-align:center;">
        <img style="width:75px;"src="{% static 'Stransmitfavicon.png' %}
        ">
        <h1 style="margin-top:10px;">Download Files</h1>
        <div style="overflow-y:auto;height:350px;">
        <table style="width:400px;margin:auto;"class="w3-table-all w3-hoverable">
            <tr class="w3-black">
                <th>Name</th>
                <th>Download</th>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
            <tr>
                <td>File1</td>
                <td><a class="w3-button w3-blue w3-hover-black"href="">Download</a></td>
            </tr>
        </table>
        </div>
    </div>
    <!-- footer start -->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->
    
        <!-- JS here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/scrollIt.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/nice-select.min.js' %}"></script>
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/gijgo.min.js' %}"></script>
    
        <!--contact js-->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
    
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            $('#datepicker').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
            });
            $('#datepicker2').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
    
            });
        </script>
    </body>
    
    </html>