<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"
    > -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style type="text/css">
        a:hover{
            background-color:black;
            color:white;
        }
    </style>
</head>

<body style="text-align:center;">
        <div style="background-color:black;padding:20px;">
            <img src="https://stransmit.com/static/Stransmit.png" style="width:200px;">
        </div>
        <div style="padding:20px;">
            <h1 style="font-size:50px;text-align:left;">Now Send Multiple Files Upto 5GB For Free</h1>
            <a Style="background-color:#34b1eb;text-decoration:none;padding:15px;border-radius:10px;color:white;font-size:20px;"href="http://stransmit.com/">Send Now</a>
            <hr style="margin-top:30px;border-width:8px;border-color:#34b1eb;border-radius:50px;border-style:solid;">
            <h1 style="font-size:50px;text-align:left;">Now You Can Download Youtube Videos In Single Click</h1>
            <a Style="background-color:red;text-decoration:none;padding:15px;border-radius:10px;color:white;font-size:20px;"href="https://stransmit.com/downloadyoutube/">Download Now</a>
            <hr style="margin-top:30px;border-width:8px;border-color:red;border-radius:50px;border-style:solid;">
        </div>

    </body>
    
    </html>