<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="text-align:center;">

        <div style="background-color:black;padding:20px;">
            <img src="https://stransmit.com/static/Stransmit.png" style="width:200px;">
        </div>
        <div style="padding:20px;">
            <p style="line-height:30px;text-align:left;">Hi There!<br>

<span>Hope you are doing good!</span><br>

We are from <a style="text-decoration:none;font-weight:bold;"href="https://srd.mobi">SRD (Shreshtha Research & Development),</a> after the ban of wetransfer.com in India we are facing problems to transfer files. So, our team has launched a new tool <a style="text-decoration:none;font-weight:bold;"href="https://stransmit.com">Stransmit.com</a> from which you can files to anybody in the globe. Stransmit.com brings you the capability to send upto <a style="text-decoration:none;font-weight:bold;"href="https://stransmit.com">5 GB file at a time for FREE.</a> And you can send upto 2 TB files for in our paid versions.<br>

<a style="text-decoration:none;font-weight:bold;"href="https://stransmit.com">Use Stransmit.com</a> (Made in India Made for World)<br>

Select the most affordable plan here

<a style="text-decoration:none;font-weight:bold;"href="">START FOR FREE NOW!</a>

<br>
                Thanks for being with us!<br>Team Stransmit
            </p>
        </div>

</body>
    
</html>