<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="text-align:center;">

        <div style="background-color:black;padding:20px;">
            <img src="https://stransmit.com/static/Stransmit.png" style="width:200px;">
        </div>
        <div style="padding:20px;text-align:left;">
            <h1>Your review matters.</h1>
            <p style="line-height:30px;text-align:left;">Hi there!<br>

Thanks for choosing us, hope you are doing good. Please help us to improve our services. Your review is important to us.<br><br>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSesidNbc2dWO0X82_F7vzyiWkE_YRWDN8Ot4kgr9xwzirKfVQ/viewform?usp=sf_link" style="background-color:#03a9fc;color:white;padding:20px;border-radius:10px;text-decoration: none;margin-top:100px; ">Send Review</a>
<br><br>
Thanks!<br>Team <a href="https://www.stransmit.com" style="text-decoration:none;color:black;">Stransmit</a>
            </p>
        </div>

</body>
    
</html>