<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stransmit - Pricing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="/index/">
                                    <img style="width:200px;"src="{% static 'Stransmit.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/index/">home</a></li>
                                        {% if checksession == True %}
                                        <li><a href="/userdashboard/">Dashboard</a></li>
                                        <li><a href="/logout/">Logout</a></li>
                                        <li><a href="/pricing/">Pricing</a></li>
                                        {% else %}
                                        <li><a href="#" onclick="document.getElementById('id02').style.display='block';">Login</a></li>
                                        <li><a href="#" onclick="document.getElementById('id01').style.display='block';">Signup</a></li>
                                        <li><a href="/pricing/">Pricing</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <span style="color:white;">Made In India</span>
                                <img style="margin-left:10px;width:50px;"src="{% static 'images.png' %}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
<div id="id01" class="w3-modal" style="z-index:100;padding:0px;">
  <div style="width:100%;height:auto;margin-top:55px;border-top-right-radius:30px;border-top-left-radius:30px;padding:50px;"class="w3-modal-content text-center w3-animate-bottom">

    <button onclick="document.getElementById('id01').style.display='none'"
      style="cursor:pointer;margin:30px;border-radius:50px;" class="w3-button w3-blue w3-hover-black w3-display-topright ">&times;</button>


    <div style="padding:10px;"class="w3-container">
      <div class="row">
        <div style="padding:20px;width:470px;"class="column">
            <h1>Signup Here</h1>
            <form action="/saveuser/" method="POST">
                <input style="margin-top:16px;" class="w3-input" type="text" placeholder="Username*" name="name" required>
                <input style="margin-top:16px;"class="w3-input" type="email" placeholder="Email*" name="email" required>
                <input style="margin-top:16px;"class="w3-input" type="number" placeholder="Mobile No.*" name="mobile" required>
                <input style="margin-top:16px;"class="w3-input" type="password" placeholder="Password*" name="password" required>
                <input style="margin-top:16px;"class="w3-input" type="password" placeholder="Confirm Password*" required>
                <input style="border-radius:10px;margin-top:16px;width:100%;"class="w3-button w3-blue w3-hover-black w3-large" type="submit" value="Signup">
            </form>
        </div>
        <div style="padding:20px;width:650px;border-radius:30px;"class="column w3-blue">
            <div style="padding-left:30px;padding-right:30px;">
            <H1 style="color:white;margin:auto;">Signup With</H1>
            <button disabled style="padding:15px;width:100%;margin-top:30px;font-size:20px;border-radius:10px;"class="w3-button w3-white w3-hover-black">Goolge <i class="fa fa-google"></i></button>
            <button disabled style="padding:15px;width:100%;margin-top:30px;font-size:20px;border-radius:10px;"class="w3-button w3-white w3-hover-black">Facebook <i class="fa fa-facebook"></i></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="id02" class="w3-modal" style="z-index:100;padding:0px;">
  <div style="width:100%;height:auto;margin-top:55px;border-top-right-radius:30px;border-top-left-radius:30px;padding:50px;"class="w3-modal-content text-center w3-animate-bottom">

    <button onclick="document.getElementById('id02').style.display='none'"
      style="cursor:pointer;margin:30px;border-radius:50px;" class="w3-button w3-blue w3-hover-black w3-display-topright ">&times;</button>


    <div style="padding:10px;"class="w3-container">
      <div class="row">
        <div style="padding:20px;width:470px;"class="column">
            <h1>Login Here</h1>
            <form action="/checklogin/" method="POST">
                <input style="margin-top:66px;"class="w3-input" type="email" placeholder="Email *" name="email" required>
                <input style="margin-top:66px;margin-bottom:33px;"class="w3-input" type="password" placeholder="Password *" name="password" required>
                <a href="/forgotpass/" style="">Forgot Password</a>
                <input style="border-radius:10px;margin-top:33px;width:100%;"class="w3-button w3-blue w3-hover-black w3-large" type="submit" value="Login">
            </form>
        </div>
        <div style="padding:20px;width:650px;border-radius:30px;"class="column w3-blue">
            <div style="padding-left:30px;padding-right:30px;">
            <H1 style="color:white;margin:auto;">Login With</H1>
            <button style="padding:20px;width:100%;margin-top:30px;font-size:20px;border-radius:10px;"class="w3-button w3-white w3-hover-black" disabled>Goolge <i class="fa fa-google"></i></button>
            <button disabled style="padding:20px;width:100%;margin-top:30px;font-size:20px;border-radius:10px;"class="w3-button w3-white w3-hover-black">Facebook <i class="fa fa-facebook"></i></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Affordable Pricing</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

        <!-- prising_area  -->
        <div class="prising_area minus_padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">
                            <h3>Unlock full Power</h3>
                            <p>Upgrade Your Plan and Get Full Access to Our Features</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-xl-4 col-md-4">
                        <div class="single_prising text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".8s">
                            <div class="prising_header d-flex justify-content-between">
                                <h3>Free</h3>
                            </div>
                            <ul>
                                <li>Media Capacity 5GB Per Mail</li>
                                <li>Media Availabilty for 10 Days</li>
                                <li>Mail Storage 50GB Per Month</li>
                            </ul>
                            <div class="prising_bottom">
                                {% if checksession == True %}
                                    {% if not plan == 'PL001' %}
                                        <a href="#" class="get_now prising_btn">Get Now</a>
                                    {% endif %}
                                {% else %}
                                    <a href="#" onclick="document.getElementById('id01').style.display='block';" class="get_now prising_btn">Get Now</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="single_prising text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s">
                            <div class="prising_header d-flex justify-content-between pink_header">
                                <h3>Basic</h3>
                                <span>299/month</span>
                            </div>
                            <ul>
                                <li>Media Capacity 20GB Per Mail</li>
                                <li>Media Availabilty for 20 Days</li>
                                <li>Mail Storage 1TB Per Month</li>
                                <li>Mail History Available</li>
                            </ul>
                            <div class="prising_bottom">
                                {% if checksession == True %}
                                    {% if not plan == 'PL002' %}
                                        <a href="/checkout/?plan=PL002" class="get_now prising_btn">Get Now</a>
                                    {% endif %}
                                {% else %}
                                    <a href="#" onclick="document.getElementById('id01').style.display='block';" class="get_now prising_btn">Get Now</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="single_prising text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".8s">
                            <div class="prising_header d-flex justify-content-between green_header">
                                <h3>Premium</h3>
                                <span>399/month</span>
                            </div>
                            <ul>
                                <li>Media Capacity 50GB Per Mail</li>
                                <li>Media Availabilty for 1 Month</li>
                                <li>Mail Storage 2TB Per Month</li>
                                <li>Mail History Available</li>
                            </ul>
                            <div class="prising_bottom">
                                {% if checksession == True %}
                                    {% if not plan == 'PL003' %}
                                        <a href="/checkout/?plan=PL003" class="get_now prising_btn">Get Now</a>
                                    {% endif %}
                                {% else %}
                                    <a href="#" onclick="document.getElementById('id01').style.display='block';" class="get_now prising_btn">Get Now</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ prising_area  -->

    <!-- about  -->
    
    <!--/ productivity_area  -->

    <!-- footer start -->
    <footer class="footer">
        <div style="padding-bottom:20px;background-color:black;"class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img style="width:150px;"src="{% static 'Stransmit.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                              Stransmit is an indian web application for online media transfer. Support indian product - An Initiative by Shreshtha Research & Development.
                            </p>
                            <div class="socail_links">
                                <span style="color:white;">Made In India</span>
                                <img style="margin-left:10px;width:60px;"src="{% static 'india-flag-1024x600.jpg' %}">
                            </div>

                        </div>
                    </div>
                    
                    
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Usefull Links
                            </h3>
                            <ul>
                                {% if checksession == True %}
                                <li>
                                    <a href="/userdashboard/">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="#" onclick="document.getElementById('id02').style.display='block';">
                                        Login
                                    </a>
                                </li>
                                <li><a href="#" onclick="document.getElementById('id01').style.display='block';">
                                        Register
                                    </a>
                                </li>
                                {% endif %}
                                <li><a href="/privacy/">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li><a href="/disclaimer/">
                                        Disclaimer
                                    </a>
                                </li>
                                <li><a href="/termcondition/">
                                        Terms & Condition
                                    </a>
                                </li>
                                <li><a href="/contact/">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>