<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stransmit - User Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Stransmitfavicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <style type="text/css">
        [type="file"] {
          height: 0;
          overflow: hidden;
          width: 0;
        }
    </style>
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="/index/">
                                    <img style="width:200px;"src="{% static 'Stransmit.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/index/">home</a></li>
                                        <li><a href="/logout/">Logout</a></li>
                                        <li><a href="/pricing/">Pricing</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <span style="color:white;">Made In India</span>
                                <img style="margin-left:10px;width:50px;"src="{% static 'images.png' %}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>User Dashboard</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if plan == 'PL001' %}
    <div style="padding-right:50px;padding-left:20px;">
        <div style="width:100%;padding-top:20px;padding-bottom:20px;padding-right:30px;padding-left:30px;border-radius:10px;margin-top:20px;margin-left:20px;"class="w3-model-containt w3-blue">
            <div class="row">
                <div style="width:75%;"class="column">
                    <h2 style="color:white;">Get More Feature Upgrade Your Account Now!</h2>
                </div>
                <div style="width:25%;"class="column">
                    <a style="border-radius:10px;width:100%;"class="w3-button w3-white w3-hover-blue"href="/pricing/">Upgrade Now</a>
                </div>
            </div>

        </div>
    </div>
    {% endif %}
    {% if plan == 'PL002' %}
    <div style="padding-right:50px;padding-left:20px;">
        <div style="width:100%;padding-top:20px;padding-bottom:20px;padding-right:30px;padding-left:30px;border-radius:10px;margin-top:20px;margin-left:20px;"class="w3-model-containt w3-red">
            <div class="row">
                <div style="width:75%;"class="column">
                    <h2 style="color:white;">Send Bulk Media Mails in One Click!</h2>
                </div>
                <div style="width:25%;"class="column">
                    <a style="border-radius:10px;width:100%;"class="w3-button w3-white w3-hover-red"href="/pricing/">Upgrade Now</a>
                </div>
            </div>

        </div>
    </div>
    {% endif %}
    <!-- /bradcam_area  -->
    <div style="padding:30px;width:"class="w3-container">
      <div class="w3-bar">
        {% if plan == 'PL001' %}
            <button disabled style="width:24%;border-radius:10px;"class="w3-button  w3-blue w3-hover-black"href="#bulkmail" onclick="OpenBulkMail()";>Send Bulk Email</button>
        {% else %}
            {% if plan == 'PL002' %}
                <button disabled style="width:24%;border-radius:10px;"class="w3-button  w3-blue w3-hover-black"href="#bulkmail" onclick="OpenBulkMail()";>Send Bulk Email</button>
            {% else %}
                <button style="width:24%;border-radius:10px;"class="w3-button  w3-blue w3-hover-black"href="#bulkmail" onclick="OpenBulkMail()";>Send Bulk Email</button>
            {% endif %}
        {% endif %}
        <button style="width:24%;border-radius:10px;"onclick="OpenSendMail()"class="w3-button  w3-blue w3-hover-black"href="#sendmail">Send Email</button>
        {% if plan == 'PL001' %}
            <button disabled style="width:24%;border-radius:10px;"onclick="OpenMailHistory()"class="w3-button  w3-blue w3-hover-black"href="#mailhistory">Sent Email History</button>
        {% else %}
            <button style="width:24%;border-radius:10px;"onclick="OpenMailHistory()"class="w3-button  w3-blue w3-hover-black"href="#mailhistory">Sent Email History</button>
        {% endif %}
        <button style="width:24%;border-radius:10px;"onclick="OpenAccountSettings()"class="w3-button  w3-blue w3-hover-black"href="#accountsetting">Account Settings</button>
       </div>
        <div id="bulkmail" style="display:none;padding:30px;" class="w3-animate-top">
            <h1>Send Mail to Bulk Peoples in Just One Click</h1>
            <form action="/sendbulkmails/" method="POST" enctype="multipart/form-data">
                <label style="margin-top:20px;">Upload Mail CSV <a href="/downloadmailcsv/">(Get Sample Here)</a></label>
                <input type="file" id="file" name="emailcsv" onchange="GetPath()"/ required>
                <label style="border-radius:10px;margin-top:10px;width:100%;" id="myFile" for="file" class="w3-button w3-black w3-hover-blue">Select File Here
                </label>
                <input style="margin-top:20px;" class="w3-input" type="text" placeholder="Subject" name="subject">
                <textarea style="margin-top:20px;" class="w3-input" type="text" placeholder="Message" name="message"></textarea>
                <label style="margin-top:20px;">Attach File</label>
                <input type="file" id="file2" name="media" onchange="GetPath2();FileValidation2();" required>
                <label style="border-radius:10px;margin-top:10px;width:100%;" id="myFile2" for="file2" class="w3-button w3-black w3-hover-blue">Select Here
                </label>
                <input style="margin-top:20px;width:100%;border-radius:10px;"class="w3-button w3-blue w3-hover-black" id="send2" disabled type="submit" value="Send">
            </form>
           </div>
        <div id="sendmail" style="padding:30px;" class="w3-animate-top">
                <h1>Send Media Mails</h1>
                <form action="/usersendmail/" method="POST" enctype="multipart/form-data">
                    <input style="margin-top:20px;margin-top:20px;" class="w3-input" type="text" placeholder="To" name="toemail">
                    <input style="margin-top:20px;margin-top:20px;" class="w3-input" type="text" placeholder="Subject" name="subject">
                    <textarea style="margin-top:20px;" class="w3-input" type="text" placeholder="Message" name="message"></textarea>
                    <label style="margin-top:20px;">Attach File</label>
                    <input style="margin-top:20px;" type="file" id="file3" name="media" onchange="GetPath3();FileValidation3();" required>
                    <label style="border-radius:10px;margin-top:20px;width:100%;" id="myFile3" for="file3" class="w3-button w3-black w3-hover-blue">Attach File Here</label>
                    <input style="margin-top:20px;width:100%;border-radius:10px;"class="w3-button w3-blue w3-hover-black" id="send3" disabled type="submit" value="Send">
                </form>
                <h1 class="text-center"style="color:white;">Send Mail</h1>
       </div>
        <div id="mailhistory" style="display:none;padding:30px;"class="w3-animate-top">
            <h1>Sent Mails History</h1>
          <table style="width:100%;">
          <tr>
            <th>Date</th>
            <th>To</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Media</th>
          </tr>
          {% for x in mails %}
            <tr>
                <td>{{ x.Mail_Date|safe }}</td>
                <td>{{ x.To_Email|safe }}</td>
                <td>{{ x.Subject|safe }}</td>
                <td>{{ x.Message|safe }}</td>
                <td><a style="border-radius:10px;"class="w3-button w3-blue w3-hover-black"href="/downloadmedia/?mid={{ x.Mail_ID|safe }}&mpath={{ x.Media|safe }}">Download Here</a></td>
            </tr>
            {% endfor %}
            {% for x in smails %}
            <tr>
                <td>{{ x.Mail_Date|safe }}</td>
                <td>{{ x.To_Email|safe }}</td>
                <td>{{ x.Subject|safe }}</td>
                <td>{{ x.Message|safe }}</td>
                <td><button style="border-radius:10px;"class="w3-button w3-blue w3-hover-black"href="/downloadmedia/?mid={{ x.Mail_ID|safe }}&mpath={{ x.Media|safe }}" disabled>Download Here</button></td>
            </tr>
            {% endfor %}
          </table>  
        </div>
        <div id="accountsetting" style="display:none;padding:30px;" class="w3-animate-top">
            <h1>Account Settings</h1>
            {% for x in userdata %}
            <form action="/edituserdata/" method="POST">
                <label style="margin-top:20px;">Name</label>
                <input class="w3-input" id="name" type="text" value="{{ x.User_Name|safe }}" name="name" disabled>
                <label style="margin-top:20px;">Email</label>
                <input class="w3-input" id="email" type="email" value="{{ x.User_Email|safe }}" name="email" disabled>
                <label style="margin-top:20px;">Phone</label>
                <input class="w3-input" id="phone" type="number" value="{{ x.User_Phone|safe }}" name="phone" disabled>
                
                <a style="width:100%;border-radius:10px;margin-top:20px;" class="w3-button w3-blue w3-hover-black" href="/sendforgotlink3/?email={{ x.User_Email|safe }}">Change Password</a>
                
                <input style="width:100%;border-radius:10px;margin-top:20px;" type="reset" class="w3-button w3-black w3-hover-blue" onclick="EnableInput()" value="Edit" id="edit">
                <input style="display:none;width:100%;border-radius:10px;margin-top:20px;"type="submit" class="w3-button w3-blue w3-hover-black" value="Save" id="save">
            </form>
            {% endfor %}
        </div>
    </div>
    
    <!-- footer start -->
    <footer class="footer">
        <div style="padding-bottom:20px;background-color:black;"class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img style="width:150px;"src="{% static 'Stransmit.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                              Stransmit is an indian web application for online media transfer. Support indian product - An Initiative by Shreshtha Research & Development.
                            </p>
                            <div class="socail_links">
                                <span style="color:white;">Made In India</span>
                                <img style="margin-left:10px;width:60px;"src="{% static 'india-flag-1024x600.jpg' %}">
                            </div>

                        </div>
                    </div>
                    
                    
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Usefull Links
                            </h3>
                            <ul>
                                <li>
                                    <a href="/userdashboard/">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                                <li><a href="#" onclick="document.getElementById('id03').style.display='block';">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li><a href="#" onclick="document.getElementById('id04').style.display='block';">
                                        Disclaimer
                                    </a>
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->
    
        <!-- JS here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/scrollIt.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/nice-select.min.js' %}"></script>
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/gijgo.min.js' %}"></script>
    
        <!--contact js-->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
    
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            $('#datepicker').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
            });
            $('#datepicker2').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
    
            });
        </script>
        <script type="text/javascript">
            function GetPath() { 
                document.getElementById('myFile').innerHTML = document.getElementById("file").value;
            }
            function GetPath2() { 
                document.getElementById('myFile2').innerHTML = document.getElementById("file2").value;
            }
            function GetPath3() { 
                document.getElementById('myFile3').innerHTML = document.getElementById("file3").value;
            }
            function OpenBulkMail() { 
                document.getElementById('bulkmail').style.display = 'block';
                document.getElementById('sendmail').style.display = 'none';
                document.getElementById('mailhistory').style.display = 'none';
                document.getElementById('accountsetting').style.display = 'none';
            }
            function OpenSendMail() { 
                document.getElementById('bulkmail').style.display = 'none';
                document.getElementById('sendmail').style.display = 'block';
                document.getElementById('mailhistory').style.display = 'none';
                document.getElementById('accountsetting').style.display = 'none';
            }
            function OpenMailHistory() { 
                document.getElementById('bulkmail').style.display = 'none';
                document.getElementById('sendmail').style.display = 'none';
                document.getElementById('mailhistory').style.display = 'block';
                document.getElementById('accountsetting').style.display = 'none';
            }
            function OpenAccountSettings() { 
                document.getElementById('bulkmail').style.display = 'none';
                document.getElementById('sendmail').style.display = 'none';
                document.getElementById('mailhistory').style.display = 'none';
                document.getElementById('accountsetting').style.display = 'block';
            }
            function EnableInput() { 
                document.getElementById('name').disabled = false;
                document.getElementById('phone').disabled = false;
                document.getElementById('password').disabled = false;
                document.getElementById('edit').style.display = 'none';
                document.getElementById('save').style.display = 'block';
                document.getElementById('password').value = ' ';
            }
            function FileValidation2() {
            const fi = document.getElementById('file2'); 
            // Check if any file is selected. 
            if (fi.files.length > 0) { 
                for (const i = 0; i <= fi.files.length - 1; i++) { 
      
                    const fsize = fi.files.item(i).size; 
                    const file = Math.round((fsize / 1024)); 
                    // The size of the file. 
                    if (file >= (1024*50000)) { 
                        alert( 
                          "File too Big, please select a file less than 50GB"); 
                    } else { 
                        document.getElementById('send2').disabled = false; 
                    } 
                } 
            }
        }
        {% if plan == 'PL001' %}
        function FileValidation3() {
            const fi = document.getElementById('file3'); 
            // Check if any file is selected. 
            if (fi.files.length > 0) { 
                for (const i = 0; i <= fi.files.length - 1; i++) { 
      
                    const fsize = fi.files.item(i).size; 
                    const file = Math.round((fsize / 1024)); 
                    // The size of the file. 
                    if (file >= (1024*5000)) { 
                        alert( 
                          "File too Big, please select a file less than 5GB"); 
                    } else { 
                        document.getElementById('send3').disabled = false; 
                    } 
                } 
            }
        }
        {% endif %}
        {% if plan == 'PL002' %}
        function FileValidation3() {
            const fi = document.getElementById('file3'); 
            // Check if any file is selected. 
            if (fi.files.length > 0) { 
                for (const i = 0; i <= fi.files.length - 1; i++) { 
      
                    const fsize = fi.files.item(i).size; 
                    const file = Math.round((fsize / 1024)); 
                    // The size of the file. 
                    if (file >= (1024*20000)) { 
                        alert( 
                          "File too Big, please select a file less than 20GB"); 
                    } else { 
                        document.getElementById('send3').disabled = false; 
                    } 
                } 
            }
        }
        {% endif %}
        {% if plan == 'PL003' %}
        function FileValidation3() {
            const fi = document.getElementById('file3'); 
            // Check if any file is selected. 
            if (fi.files.length > 0) { 
                for (const i = 0; i <= fi.files.length - 1; i++) { 
      
                    const fsize = fi.files.item(i).size; 
                    const file = Math.round((fsize / 1024)); 
                    // The size of the file. 
                    if (file >= (1024*50000)) { 
                        alert( 
                          "File too Big, please select a file less than 50GB"); 
                    } else { 
                        document.getElementById('send3').disabled = false; 
                    } 
                } 
            }
        }
        {% endif %}
    </script>
    </body>
    
    </html>